<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    <servlet>-->
<!--        <servlet-name>MatBangServlet</servlet-name>-->
<!--        <servlet-class>com.exam_module3.controller.MatBangServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>MatBangServlet</servlet-name>-->
<!--        <url-pattern>/matbang</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>
